<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaomi.nrb.superman.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="com.xiaomi.nrb.superman.domain.Comment">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="to_uid" jdbcType="BIGINT" property="toUid"/>
        <result column="reply_id" jdbcType="BIGINT" property="replyId"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="comment_ctime" jdbcType="TIMESTAMP" property="commentCtime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="plan_id" jdbcType="BIGINT" property="planId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, uid, to_uid, reply_id, comment, comment_ctime, status, plan_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from comment
        where id = #{id,jdbcType=BIGINT}
    </select>


    <insert id="insertSelective" parameterType="com.xiaomi.nrb.superman.domain.Comment" useGeneratedKeys="true"
            keyProperty="id">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="toUid != null">
                to_uid,
            </if>
            <if test="replyId != null">
                reply_id,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="commentCtime != null">
                comment_ctime,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="planId != null">
                plan_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="toUid != null">
                #{toUid,jdbcType=BIGINT},
            </if>
            <if test="replyId != null">
                #{replyId,jdbcType=BIGINT},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="commentCtime != null">
                #{commentCtime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="planId != null">
                #{planId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xiaomi.nrb.superman.domain.Comment">
        update comment
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=BIGINT},
            </if>
            <if test="toUid != null">
                to_uid = #{toUid,jdbcType=BIGINT},
            </if>
            <if test="replyId != null">
                reply_id = #{replyId,jdbcType=BIGINT},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="commentCtime != null">
                comment_ctime = #{commentCtime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="planId != null">
                reply_id = #{planId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="listBySelective" parameterType="com.xiaomi.nrb.superman.dao.quary.ListCommentQuaryParam" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comment
        <where>
            <if test="commentIds != null">
                and id in
                <foreach collection="commentIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item,jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="toUid != null">
                and to_uid = #{toUid,jdbcType=BIGINT}
            </if>
            <if test="planId != null">
                and plan_id = #{planId,jdbcType=BIGINT}
            </if>
        </where>
        order by comment_ctime desc
        <include refid="page_sql"/>
    </select>
    <select id="countBySelective" parameterType="com.xiaomi.nrb.superman.dao.quary.ListCommentQuaryParam" resultType="integer">
        select
        COUNT(1)
        from comment
        <where>
            <if test="commentIds != null">
                and id in
                <foreach collection="commentIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item,jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="toUid != null">
                and to_uid = #{toUid,jdbcType=BIGINT}
            </if>
            <if test="planId != null">
                and plan_id = #{planId,jdbcType=BIGINT}
            </if>
        </where>
    </select>
    <!-- 分页语句 -->
    <sql id="page_sql">
        <if test="pageSize!=null and pageNo!=null">
            <![CDATA[
			  limit #{pageSize} offset #{pageNo}
		    ]]>
        </if>
    </sql>
</mapper>