<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaomi.nrb.superman.dao.RelationMapper">
    <resultMap id="BaseResultMap" type="com.xiaomi.nrb.superman.domain.Relation">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="plan_id" jdbcType="BIGINT" property="planId"/>
        <result column="plan_user_id" jdbcType="BIGINT" property="planUserId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="ctime" jdbcType="TIMESTAMP" property="ctime"/>
        <result column="utime" jdbcType="TIMESTAMP" property="utime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, plan_id, plan_user_id, type, status, ctime, utime
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from relation
        where id = #{id,jdbcType=BIGINT}
    </select>


    <insert id="insertSelective" parameterType="com.xiaomi.nrb.superman.domain.Relation">
        insert into relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="planId != null">
                plan_id,
            </if>
            <if test="planUserId != null">
                plan_user_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="ctime != null">
                ctime,
            </if>
            <if test="utime != null">
                utime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="planId != null">
                #{planId,jdbcType=BIGINT},
            </if>
            <if test="planUserId != null">
                #{planUserId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="ctime != null">
                #{ctime,jdbcType=TIMESTAMP},
            </if>
            <if test="utime != null">
                #{utime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xiaomi.nrb.superman.domain.Relation">
        update relation
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="planId != null">
                plan_id = #{planId,jdbcType=BIGINT},
            </if>
            <if test="planUserId != null">
                plan_user_id = #{planUserId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="ctime != null">
                ctime = #{ctime,jdbcType=TIMESTAMP},
            </if>
            <if test="utime != null">
                utime = #{utime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="listBySelective" parameterType="com.xiaomi.nrb.superman.domain.Relation" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from relation
        <where>
            and status=1
            <if test="userId != null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="planId != null">
                and plan_id = #{planId,jdbcType=BIGINT}
            </if>
            <if test="planUserId != null">
                and plan_user_id = #{planUserId,jdbcType=BIGINT}
            </if>
            <if test="type != null">
                and type = #{type,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <select id="countBySelective" parameterType="com.xiaomi.nrb.superman.domain.Relation" resultType="int">
        select
        COUNT(1)
        from relation
        <where>
            and status=1
            <if test="userId != null">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="planId != null">
                and plan_id = #{planId,jdbcType=BIGINT}
            </if>
            <if test="planUserId != null">
                and plan_user_id = #{planUserId,jdbcType=BIGINT}
            </if>
            <if test="type != null">
                and type = #{type,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>