<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaomi.nrb.superman.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.xiaomi.nrb.superman.domain.User">
            <id column="id" jdbcType="BIGINT" property="id"/>
            <result column="open_id" jdbcType="VARCHAR" property="openId"/>
            <result column="union_id" jdbcType="VARCHAR" property="unionId"/>
            <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
            <result column="avartar_url" jdbcType="VARCHAR" property="avartarUrl"/>
            <result column="gender" jdbcType="INTEGER" property="gender"/>
            <result column="country" jdbcType="VARCHAR" property="country"/>
            <result column="province" jdbcType="VARCHAR" property="province"/>
            <result column="city" jdbcType="VARCHAR" property="city"/>
            <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
            <result column="grade" jdbcType="INTEGER" property="grade"/>
            <result column="status" jdbcType="INTEGER" property="status"/>
            <result column="ctime" jdbcType="TIMESTAMP" property="ctime"/>
            <result column="utime" jdbcType="TIMESTAMP" property="utime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, open_id, union_id, nick_name, avartar_url, gender, country, province, city, mobile, 
    grade, status, ctime, utime
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where  open_id = #{openId,jdbcType=VARCHAR}
    </select>

    <insert id="insertSelective" parameterType="com.xiaomi.nrb.superman.domain.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="openId != null">
                open_id,
            </if>
            <if test="unionId != null">
                union_id,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="avartarUrl != null">
                avartar_url,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="ctime != null">
                ctime,
            </if>
            <if test="utime != null">
                utime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null">
                #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="avartarUrl != null">
                #{avartarUrl,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="ctime != null">
                #{ctime,jdbcType=TIMESTAMP},
            </if>
            <if test="utime != null">
                #{utime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xiaomi.nrb.superman.domain.User">
        update user
        <set>
            <if test="openId != null">
                open_id = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null">
                union_id = #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="avartarUrl != null">
                avartar_url = #{avartarUrl,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="ctime != null">
                ctime = #{ctime,jdbcType=TIMESTAMP},
            </if>
            <if test="utime != null">
                utime = #{utime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectAvartarUrls" parameterType="list" resultType="string">
        select avartar_url
        from user
        where id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item,jdbcType=INTEGER}
        </foreach>
    </select>
</mapper>